.App {
  display: flex;
  text-align: center;
  background: rgb(255, 255, 255);
  min-height: 100vh;
  max-width: 100vw;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-button {
  margin-right: .5rem;
}

.btn .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8A592E !important;
  border: #8A592E !important;
} 

#root {
  background-color: #14293B;
}

.header-holder {
  width: 33vw;
}

.container {
  background-color: #14293B !important;
  display: flex;
  flex-direction: column;
}

.card-title {
  text: center;
  color: black;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  margin-bottom: 0 !important;
}

hr {
  color: white !important;
}
