.add-vibe-form {
    display: flex;
    flex-direction: column;
    border: solid rgb(204, 204, 204) .05rem;
    border-radius: 4px;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#add-submit {
    margin-top: 1rem;
}

hr {
    width: 100%;
}

.creategirth {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#the-map {
    width: 35vw;
    min-width: 400px;
}

.local-titles {
    margin-top: none;
    margin-bottom: .1rem;
    font-weight: bold;
}

#root {
    background-color: rgb(112, 103, 80);
}

.btn .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(112, 103, 80);
    border: rgb(112, 103, 80);
} 