.add-vibe-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#add-submit {
    margin-top: 1rem;
    background-color: #8A592E;
    border: #8A592E !important;
}

hr {
    width: 100%;
}

.create-girth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
}

.create-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.map-container {
    border-radius: 15px;
}

.local-titles {
    margin-top: none;
    margin-bottom: .1rem;
    font-weight: bold;
}



