.dash-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    width: 100%;
    max-height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

#menu {
    text-decoration: none;
    display: flex;
}

.menu-list {
    list-style-type: none;
    margin-right: 1rem;
}