.login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20vh;
}

#login-button {
    margin-top: .5rem;
    background-color: #8A592E;
    border-color: #8A592E;
    width: 100%;
}

.secondary-stuff{
    width: 100%;
    margin-top: .5rem;
    color: white;
}